html, body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.container {
  width: 100%;
}

.signup-container {
  background-color: #fff;
  border-radius: 5px;
  padding: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.signup-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}
.form-group label {
  font-weight: bold;
}
.form-group input {
  border-radius: 5px;
  border: 1px solid #ced4da;
  padding: 8px;
  width: 100%;
}
.form-group input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.signup-link-container {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.signup-link-container a {
  color: #007bff;
  text-decoration: none;
}
.signup-link-container a:hover {
  text-decoration: underline;
}
.signup-button {
  background-color: #007bff;
  border: none;
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  cursor: pointer;
}
.signup-button:hover {
  background-color: #0069d9;
}

.input-group .dropdown-toggle {
  height: 100%;
}

.sendCode {
  width: 100%;
}

.correct{
    color : green;
}
.incorrect{
    color : red;
}